:root{
    --header-height:73px;
    --main-color:#19241a;

}

*{
    box-sizing: inherit;
}

html{
    /* 16px:100% */ 
    /* 10px:62.5%*/
    font-size: 62.5%;
    line-height:1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: var(--main-color);
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.mt-135{
    margin-top: 135px;
}
.mt--16px{
    margin-top: -16px;
}
.mt-60{
    margin-top: 60px;
}


@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideIn{
    from{
        transform: translateX(500px);
        trasition: 0.8;
        opacity:0;
    }
    to{
        transform: translate(0);
        trasition: 0.8;
        opacity:1
    }
}





